<{{ html | default: 'div' }} class="tracking-tight relative text-foreground font-bold transition ease font-narrow capitalize text-lg">
	<span class="text-foreground">{{ title | default: 'Add a title' }}</span>
</{{ html | default: 'div' }}>
