<ul class="header-menu flex items-center gap-2">
  {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>
        {{ link.title | escape }}
      </a>
    </li>
  {% endfor %}
  <button type="button" x-data @click="$store.global.isMinicartVisible = true">
    Minicart
  </button>
</ul>
