<div id="site-promo-bar-wrapper"
  class="bg-black py-2 lg:py-2"
  {% if settings.collapse_promo_bar %}
    x-data
    x-show="$store.global.isPromoBarVisible"
    x-collapse
  {% endif %}
>
  <div
    id="site-promo-bar"
    class="site-promo-bar-tw-component"
  >
    <div class="text-white [&_a]:text-white text-base text-center">
      {{ settings.promo_bar_content }}
    </div>
  </div>
</div>