<div class="relative">
  <div class="grid grid-cols-2 h-full">
    {%- if section.settings.image != blank -%}
      <div class="bg-stone-100">
        {%- liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
          if section.settings.image_2 != blank
            assign sizes = '50vw'
          else
            assign sizes = '100vw'
          endif
        -%}
        {{
          section.settings.image
          | image_url: width: 1500
          | image_tag:
            loading: loading,
            preload: preload,
            width: section.settings.image.width,
            height: image_height,
            class: 'block object-cover w-full h-full',
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: section.settings.image.alt
          | escape
        }}
      </div>
    {%- endif -%}
    {%- if section.settings.image_2 != blank -%}
      <div class="bg-stone-200">
        {%- liquid
          assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
          if section.settings.image != blank
            assign sizes = '50vw'
          else
            assign sizes = '100vw'
          endif
        -%}
        {{
          section.settings.image_2
          | image_url: width: 1500
          | image_tag:
            loading: loading,
            width: section.settings.image_2.width,
            height: image_height_2,
            class: 'block object-cover w-full h-full',
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: section.settings.image_2.alt
          | escape
        }}
      </div>
    {%- endif -%}
  </div>
  <div class="lg:absolute inset-0 flex items-center py-5">
    <div class="container flex flex-col items-start">
      {% if section.settings.headline %}
        <a href="{{ section.settings.link_url }}" class="group/logo flex flex-col items-start p-4 -ml-4">
          <span class="font-bold relative transition ease bg-white inline-block group-hover/logo:text-white">
            <div class="absolute inset-0 -mx-1">
              <div class="absolute inset-0 bg-black max-w-0 transition-all ease w-full group-hover/logo:max-w-full"></div>
            </div>
            {% render 'component-title' html:'span' title:section.settings.headline %}
          </span>
          {% if section.settings.subtitle %}
            <span class="lg:text-black/75 bg-white relative font-narrow font-bold leading-none">{{ section.settings.subtitle }}</span>
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Image",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Second image"
    },
    {
      "type": "checkbox",
      "id": "full_page_height_enable",
      "default": true,
      "label": "Full page height"
    }
  ],
  "presets": [
    {
      "name": "Hero Image"
    }
  ]
}
{% endschema %}