{% schema %}
{
  "name": "Hero Video",
  "class": "section-block-hero",
  "tag": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "First image"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full width"
    }
  ],
  "presets": [
    {
      "name": "Hero Video"
    }
  ]
}
{% endschema %}

<div class="h-screen bg-stone-200 relative overflow-hidden">
  {{ section.settings.video 
    | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: "absolute inset-0 object-cover h-full w-full mix-blend-multiply" }}
  <div class="absolute inset-0 z-20 flex items-center justify-center">
    <div class="container">
      <div class="text-white mix-blend-difference">
        Some copy goes here
      </div>
    </div>
  </div>
</div>