{% schema %}
{
  "name": "Hero Video",
  "class": "section-block-hero",
  "tag": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "First image"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full width"
    }
  ],
  "presets": [
    {
      "name": "Hero Video"
    }
  ]
}
{% endschema %}

<div class="h-screen bg-stone-100 flex flex-col justify-center items-center">
  <div class="w-full px-6 lg:px-20">
    <div class="bg-stone-200 text-center">
      <div class="text-3xl">Hero</div>
    </div>
  </div>
</div>