{% schema %}
  {
    "name": "footer",
    "class": "footer",
    "tag": "footer",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.footer.settings.paragraph"
      }
    ]
  }
{% endschema %}

<div class="p-[var(--space-sm)] lg:mb-[var(--space-md)] lg:pt-[var(--space-lg)] lg:px-[var(--space-lg)]">
  <div class="">
    <div>
      {% for link in linklists.footer.links %}
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
  
    <small>
      &copy; {{ "now" | date: "%Y" }} Slayed Starter Theme
    </small>
  </div>
</div>
