{% schema %}
  {
    "name": "footer",
    "class": "footer",
    "tag": "footer",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.footer.settings.paragraph"
      }
    ]
  }
{% endschema %}

<footer class="p-4 lg:p-20">
  <div class="flex flex-col gap-4 lg:gap-10">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-20">

      <div class="flex flex-col gap-2 text-neutral-500">
        <p>Free shipping on orders over $400</p>
        <p>Credit card, Apple Pay, Paypal, Klarna</p>
        <p>Free returns within 14 days.</p>
      </div>

      <div class="columns-2 space-y-2">
        {% for link in linklists.footer.links %}
          <a href="{{ link.url }}" class="block">{{ link.title }}</a>
        {% endfor %}
      </div>

      <div class="flex flex-col gap-2">
        <p>Join the Mailing List</p>
        <form class="relative">
          <input type="text" placeholder="Email address" class="h-12 bg-transparent border-b w-full" />
          <button class="absolute size-8 top-2 hover:bg-neutral-100 transition rounded-lg right-0 top-0 flex items-center justify-center">
            <span class="sr-only">Submit</span>
            <i data-lucide="chevron-right"></i>
          </button>
        </form>
      </div>

      <div class="flex flex-col gap-2">
        <p>Follow Us</p>
        <ul class="flex gap-4">
          <li><a class="h-12 bg-neutral-50 rounded-lg block" href=""><i data-lucide="facebook">Facebook</i></a></li>
          <li><a class="h-12 bg-neutral-50 rounded-lg block" href=""><i data-lucide="facebook">Facebook</i></a></li>
          <li><a class="h-12 bg-neutral-50 rounded-lg block" href=""><i data-lucide="facebook">Facebook</i></a></li>
          <li><a class="h-12 bg-neutral-50 rounded-lg block" href=""><i data-lucide="facebook">Facebook</i></a></li>
        </ul>
      </div>

    </div>
    <div class="">
      © {{ "now" | date: "%Y" }} 925Originals
    </div>
  </div>
</footer>
