{% schema %}
  {
    "name": "footer",
    "class": "footer pt-10 lg:pt-20 pb-5 lg:pb-10",
    "tag": "footer",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.footer.settings.paragraph"
      }
    ]
  }
{% endschema %}

<div class="px-6 md:px-8 pt-10 lg:pt-20 pb-5 lg:pb-10">
  <div class="container">
    <div>
      {% for link in linklists.footer.links %}
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
  
    <small>
      &copy; {{ "now" | date: "%Y" }} Slayed Starter Theme
    </small>
  </div>
</div>
