<div class="pb-5 lg:pb-20">
  <div class="container">
    <header class="flex flex-col pt-2.5 lg:pt-5 gap-2">
      <h1 class="text-foreground">{{ blog.title | escape }}</h1>
    </header>
  </div>
</div>