{% schema %}
{
  "name": "Main Collection Section",
  "class": "section-main-collection",
  "tag": "section"
}
{% endschema %}

<div class="px-[var(--space-sm)] lg:px-[var(--space-lg)]">
  <div class="collection-inner">
    <h2 class="mb-12 max-w-max mx-auto sr-only">
      {{ collection.title }}
    </h2>
    <div class="grid-wrapper grid grid-cols-1 gap-[var(--space-sm)] lg:grid-cols-2 lg:gap-[var(--space-lg)]">

      <div class="grid grid-cols-2 gap-0.5">
        <div class="aspect-[4/5] bg-neutral-100"></div>
        <div class="aspect-[4/5] bg-neutral-100"></div>
      </div>

      <div class="grid grid-cols-2 gap-0.5">
        <div class="aspect-[4/5] bg-neutral-100"></div>
        <div class="aspect-[4/5] bg-neutral-100"></div>
      </div>

      <!-- {%- paginate collection.products by 12 -%}
        <div class="product-grid">
          {% for prod in collection.products %}
            {% render 'product-grid-item', prod: prod %}
          {% endfor %}
        </div>
  
        {% render 'pagination-navigation', paginate: paginate %}
      {% endpaginate %} -->
    </div>
  </div>
</div>

