{% schema %}
{
  "name": "Main Collection Section",
  "class": "section-main-collection",
  "tag": "section"
}
{% endschema %}

<div class="px-[var(--space-sm)] lg:px-[var(--space-lg)]">
  <div class="collection-inner">
    <h2 class="mb-12 max-w-max mx-auto sr-only">
      {{ collection.title }}
    </h2>
    <div class="grid-wrapper flex flex-col gap-5 lg:gap-20">
      {%- paginate collection.products by 12 -%}
        <div class="product-grid grid grid-cols-1 gap-[var(--space-sm)] lg:grid-cols-2 lg:gap-[var(--space-lg)]">
          {% for prod in collection.products %}
            {% for option in product.options_with_values %}
              {% render 'product-grid-item', prod: prod %}
            {% endfor %}  
          {% endfor %}
        </div>
        {% render 'pagination-navigation', paginate: paginate %}
      {% endpaginate %}
    </div>
  </div>
</div>

