{% schema %}
  {
    "name": "404 Section",
    "class": "section-404",
    "tag": "section",
    "settings": []
  }
{% endschema %}


<div class="pb-5 lg:pb-10 flex-grow">
  <div class="container">
    <header class="flex flex-col gap-2">
      {% render 'component-title' html:'h1' title:'404 Page Not Found' %}
    </header>
  </div>
</div>